@import './reset.css';
@import './fonts.css';
@import './base.css';
@import './variables.css';

@import './modules/header.css';
@import './modules/footer.css';
@import './modules/slideshow.css';
@import './modules/pets.css';
@import './modules/pet-info.css';
@import './modules/pet-age-converter.css';
@import './modules/fun.css';
@import './modules/adopt.css';
@import './modules/get-involved.css';
@import './modules/contact.css';
@import './modules/membership.css';
@import './modules/about.css';
@import './modules/visit.css';
@import './modules/payment-options.css';
@import './modules/volunteer.css';
@import './modules/foster.css';
@import './modules/shop.css';
@import './modules/donate.css';