:root {
	--primary: #61bdff;
	--secondary: #D3EFFF;
	--tertiary: #013e77;
	--quaternary: #FF6B00;
	--quinary: #FFFFFF;
	--senary: black;
	--septenary: #ff9900;

	--logo-font: 'Roboto', sans-serif;
	--font-h1:'Roboto', sans-serif; 
	--font-h3:'Roboto', sans-serif;
}