.about__container {
	margin: 0 auto;
}

.about__p {
	display: flex;
	width: 100%;
	margin: 1rem auto;
	padding: 1rem 5rem;
	color: var(--tertiary);
	font-size: 22px;
	justify-content: center;
	text-align: center;
}

.about__image {
	display: block;
	margin: 2rem auto 5rem auto;
	width: 50%;
	min-width: 45rem;
	align-items: center;
	border-radius: 20px;
	box-shadow: 0 5px 10px var(--tertiary);
}

@media screen and (max-width: 768px) {
	.about__image {
		width: 95%;
		border-radius: 5px;
	}

	.about__p {
		width: 95%;
		padding: 1rem 1.5rem;
	}
 }

 @media screen and (max-width: 768px) {
	.about__image {
		min-width: 10rem;
	}

	.about__p {
		width: 100%;
	}
 }