.adopt__container {
	display: grid;
	margin: 0 auto 5rem auto;
	width: 80%;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(auto, 1fr);
	gap: 5rem;
}

.adopt__container-link {
	position: relative;
	margin: 0 auto;
	width: 100%;
	border: 0.4rem solid var(--quinary);
	border-radius: 0.1rem;
	box-shadow: 6px 8px 10px var(--tertiary);
}

.adopt__container-link-title {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1vw;
	width: 100%;
	font-size: 2vw;
	background: rgba(255, 255, 255, 0.6);
	text-align: center;
	color: var(--tertiary);
}

.adopt__container-link-image {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

@media screen and (max-width: 1010px) {
	.adopt__container {
		width: 90%;
		gap: 3rem;
		grid-template-columns: repeat(2, 1fr);
	}

	.adopt__container-link-title {
		font-size: 1.5rem;
		padding: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.adopt__container {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.adopt__container-link {
		width: 90%;
		margin-bottom: 2rem;
	}

	.adopt__container-link-title {
		font-size: 1.6rem;
		padding: 1rem;
	}
}