.contact__h1 {
	font-family: var(--font-h1);
}

.contact__container {
	margin: 0 auto;
}

.contact__p {
	display: flex;
	width: 100%;
	margin: 1rem auto;
	padding: 1rem 5rem;
	color: var(--tertiary);
	font-size: 22px;
	justify-content: center;
	text-align: center;
 }

 .contact__email a {
	display: flex;
	width: 100%;
	justify-content: center;
	text-decoration: none;
	color: var(--tertiary);	
	font-weight: bold;
	font-size: 25px;
	font-family: var(--font-h3);
 }

 .contact__email a:hover {
	color: var(--quaternary);
 }

 .contact__address {
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 22px;
	font-family: var(--font-h3);
	color: var(--tertiary);

 }

 .contact__image {
	display: flex;
	margin: 2rem auto 5rem auto;
	width: 50%;
	min-width: 450px;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 0 5px 10px var(--tertiary);
 }

 @media screen and (max-width: 768px) {
	.contact__image {
		width: 95%;
		min-width: 10rem;
		border-radius: 5px;
	}

	.contact__p {
		width: 100%;
		padding: 1rem 1.5rem;
	}
 }