.donate__container {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   justify-content: center;
}

.donate__number {
   margin: 2rem auto;
   font-size: x-large;
   color: var(--tertiary);
}

.donate__shop {
   margin: 2rem auto;
   text-decoration: none;
   color: var(--tertiary);
   font-size: x-large;
}

.donate__shop:hover {
   color: var(--quaternary);
}

.donate__image {
   margin: 2rem auto 5rem auto;
   width: 30%;
   height: 30rem;
   border: 5px solid white;
}