.donate__container {
   margin: 0 auto;
}

.donate__button {
   display: flex;
   margin: 3rem auto;
   padding: 2rem 4rem;
   background: var(--quaternary);
   border-radius: 10rem;
   color: var(--quinary);
   font-family: var(--logo-font);
   font-size: x-large;
   border: none;
}