.footer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 100%;
	justify-content: center;
	background: var(--primary);
	margin-top: auto;
}

.footer__items {
	margin: 3rem auto 1rem auto;
	display: flex;
	align-items: center;
}

.footer__items-logo {
	cursor: pointer;
}

.footer__items-logo a {
	padding: 2rem 0.3rem;
	margin: 2rem;
	text-decoration: none;
	color: var(--tertiary);
	border: 0.2rem solid var(--tertiary);
	border-radius: 10rem;
	font-family: var(--logo-font);
	font-weight: bold;
	font-size: 1.3rem;
}

.footer__items-logo a:hover {
	color: var(--quinary);
	border: 0.2rem solid var(--quinary);
	transition: ease-in-out 0.3s;
}

.footer__items-links {
	display: flex;
	list-style: none;
	align-items: center;
}

.footer__items-link {
	padding: 2rem;
}

.footer__copyright {
	margin: 2rem auto;
	width: 50%;
	font-family: var(--logo-font);
	text-align: center;
	padding-top: 1.5rem;
	color: var(--tertiary);
	border-top: 1px solid var(--tertiary);
}

@media screen and (max-width: 768px) {
	.footer__items-link {
		padding: 1rem;
	}

	.footer__items-logo a {
		margin: 1rem;
		font-size: 1.1rem;
		padding: 1.7rem 0.3rem;
	}
}

@media screen and (max-width: 450px) {
	.footer__items-logo a {
		margin: 0.5rem;
		font-size: 1rem;
		padding: 1.6rem 0.3rem;
	}

	.footer__items-link {
		padding: 0.5rem;
	}

	.footer__items-link img {
		width: 90%;
		min-width: 2rem;
	}
}