.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
	justify-content: center;
	background: var(--primary);
	margin-top: auto;
	align-items: center;
}

.footer__items {
	margin: 3rem auto 1rem auto;
	display: flex;
	align-items: center;
}

.footer__items-logo {
	cursor: pointer;
}

.footer__items-logo a {
	padding: 2.3rem 0.3rem;
	margin: 2rem;
	text-decoration: none;
	color: var(--tertiary);
	border: 0.2rem solid var(--tertiary);
	border-radius: 10rem;
	font-weight: bold;
	font-size: 1.3rem;
}

.footer__items-links {
	display: flex;
	list-style: none;
	align-items: center;
}

.footer__items-link {
	padding: 2rem;
}

.footer__copyright {
	display: block;
	width: 50%;
	justify-content: center;
	text-align: center;
	margin: 2rem auto;
	padding-top: 1rem;
	font-size: 18px;
	color: var(--tertiary);
	border-top: 1px solid var(--tertiary);
}