.foster__paragraph {
	width: 100%;
	margin: 1rem auto;
	padding: 1rem 5rem;
	color: var(--tertiary);
	font-size: 22px;
	text-align: left;
}

.foster__email {
	margin: 1rem auto;
	text-decoration: none;
	color: var(--tertiary);	
	font-weight: bold;
	font-size: 22px;
}

 .foster__email:hover {
	color: var(--quaternary);
 }

.foster__image {
	display: block;
	margin: 2rem auto 5rem auto;
	width: 50%;
	min-width: 450px;
	align-items: center;
	border-radius: 20px;
	box-shadow: 0 5px 10px var(--tertiary);
}

@media screen and (max-width: 768px) {
	.foster__image {
		width: 95%;
		min-width: 10rem;
		border-radius: 5px;
	}

	.foster__paragraph {
		width: 100%;
		padding: 1rem 1.5rem;
	}
 }