.navbar {
	display: flex;
	background: var(--primary);
	align-items: center;
}

.navbar__logo a {
	text-decoration: none;
}

.navbar__mobile-icons {
	display: none;
}

.navbar__menu {
	display: flex;
	list-style: none;
}

.navbar__menu-link a {
	text-decoration: none;
}

.navbar__menu-link:hover .navbar__submenu {
	display: block;
}

.navbar__submenu {
	display: none;
	position: absolute;
	list-style: none;
}


