.navbar {
	display: flex;
	position: sticky;
	top: 0;
	margin: 0 auto;
	background: var(--primary);
	align-items: center;
	justify-content:flex-start;
	width: 100%;
	box-shadow: 0 1px 6px var(--tertiary);
	z-index: 20;
	font-size: 20px;
}

.navbar__logo {
	margin: 4rem auto;
	cursor: pointer;
}

.navbar__logo a {
	padding: 2.3rem 0.3rem;
	text-decoration: none;
	color: var(--tertiary);
	border: 0.2rem solid var(--tertiary);
	border-radius: 10rem;
	font-weight: bold;
	font-size: 1.3rem;
}

.navbar__logo a:hover {
	color: var(--quinary);
	border: 0.2rem solid var(--quinary);
	transition: ease-in-out 0.3s;
}

.navbar__mobile-menu-icon {
	display: none;
}

.navbar__menu {
	display: flex;
	margin: 0 auto;
	width: 100%;
	list-style: none;
	align-items: center;
	justify-content: space-evenly;
}

.navbar__menu-link {
	margin: 2vw;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar__menu-link a {
	text-decoration: none;
	color: var(--tertiary);
}

.navbar__menu-link a:hover {
	color: var(--quinary);
	transition: ease-in-out 0.3s;
	text-shadow: 0 1px 2px var(--tertiary);
}

.navbar__menu-link:hover .navbar__submenu {
	display: block;
}

.navbar__submenu {
	display: none;
	position: absolute;
	margin: 0 auto;
	list-style: none;
	padding: 0.5rem 0;
	background: var(--primary);
	width: 16rem;
	border-radius: 0.5rem;
	z-index: 30;
}

.navbar__submenu-link {
	padding: 1rem;
	text-transform: uppercase;
	width: 16rem;
	cursor: pointer;
}

/* .navbar__submenu-link:hover {
	background: var(--tertiary);
	color: var(--quinary);
	border-radius: 0.5rem;
} */

.navbar__menu-donate {
	margin: 2rem auto;
	padding: 1rem 1.5rem;
	font-size: 1.4rem;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--senary);
	background: var(--quaternary);
	border-radius: 3rem;
	box-shadow: 0 3px 5px var(--tertiary);
	cursor: pointer;
	transition: ease-in-out 0.2s;
}

.navbar__menu-donate:hover {
	background: var(--septenary);
}

/* Media queries */
@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 768px) {
	.navbar__mobile-menu-icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		background: none;
		border: none;
	}

	.navbar__mobile-menu-icon-top,
	.navbar__mobile-menu-icon-middle,
	.navbar__mobile-menu-icon-bottom {
		width: 5rem;
		height: 0.4rem;
		margin: 0.4rem 0;
		background: var(--tertiary);
		border-radius: 1rem;
	}

	.navbar__menu {
		display: none;
	}

	.navbar__menu--visible {
		display: flex;
		position: absolute;
		flex-direction: column;
		margin: 0 auto;
		padding: 2rem;
		background-color: var(--secondary-color);
		margin-top: 4rem;
		border: 1.5px solid var(--primary-color);
		z-index: 40;
	}

	.navbar__menu-link:hover .navbar__submenu {
		display: none;
	}

}

