.navbar {
	display: flex;
	background: var(--primary);
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
}

.navbar__logo {
	padding: 3rem;
}

.navbar__logo a {
	text-decoration: none;
}

.navbar__mobile-icons {
	display: none;
}

.navbar__menu {
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: space-evenly;
}

.navbar__menu-link {
	margin: 2rem;
}

.navbar__menu-link a {
	text-decoration: none;
}

.navbar__menu-link:hover .navbar__submenu {
	display: block;
}

.navbar__submenu {
	display: none;
	position: absolute;
	list-style: none;
}


