.main {
	position: relative;
}

.pet-info__back {
	top: 14rem;
	left: 4rem;
	position: absolute;
	text-transform: uppercase;
	color: var(--tertiary);
}

.pet-info__back:hover {
	color: var(--quaternary);
}

.pet-info__card {
	display: flex;
	flex-direction: column;
	margin: 3rem;
	border: 0.1rem solid var(--tertiary);
}

.pet-info__image {
	margin: 1rem auto;
	width: 50%;
	min-width: 25rem;
	border: 0.5rem solid var(--quinary);
	box-shadow: 6px 8px 10px var(--tertiary);
}