.visit__container {
	margin: 0 auto;
}

.visit__container-paragraph {
	width: 100%;
	margin: 1rem auto;
	padding: 1rem 5rem;
	color: var(--tertiary);
	font-size: 22px;
	text-align: left;
}

.visit__container-h2 {
	margin: 2rem auto;
	font-family: var(--font-h3);
	font-size: 30px;
	text-shadow: 0 4px 4px var(--primary);
	width: 100%;
	text-align: center;
	color: var(--tertiary);
}

.visit__container-opening-hours {
	text-align: center;
	line-height: 2.5rem;
	font-weight: 500;
	font-size: 1.5rem;
	color: var(--tertiary);
}

.visit__container-image {
	display: block;
	margin: 3rem auto 5rem auto;
	width: 50%;
	min-width: 45rem;
	align-items: center;
	border-radius: 20px;
	box-shadow: 0 5px 10px var(--tertiary);
}

@media screen and (max-width: 768px) {
	.visit__container-image {
		width: 95%;
		min-width: 10rem;
		border-radius: 5px;
	}

	.visit__container-paragraph {
		width: 100%;
		padding: 1rem 1.5rem;
	}
 }